<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" href="./images/iconTwitter.png">
</head>

<body>
  <section class="section-accueil">

    <div class="tweet-navigation">
      <img class="tweet-navigation-image" src="/images/logoTwitter.png" alt="">
      <div class="tweet-navigation-link">
        <a href="/home">
          <img src="/images/home-run.png" alt="">
          <h2>Home</h2>
        </a>
        <a href="">
          <img src="/images/hastag.png" alt="">
          <h2>Explore</h2>
        </a>
        <a href="">
          <img src="/images/bookmark.png" alt="">
          <h2>Bookmarks</h2>
        </a>
        <a href="">
          <img src="./images/user.png" alt="">
          <h2>My Tweets</h2>
        </a>
        <a href="/logout">
          <img src="/images/logout.png" alt="">
          <h2>Logout</h2>
        </a>
      </div>
    </div>

    <div class="tweet-container">
      <div class="tweet-container-title">
        <h3>Laurent Jade</h3>
      </div>
      <div class="tweet-container-profile">
        <div class="tweet-container-profile-background">
          <img src="" alt="">
        </div>
        <div class="tweet-container-profile-picture">
          <img src="" alt="">
        </div>
        <div class="tweet-container-profile-infos">
          <h3><%=username%></h3>
          <h4><%=userCity%></h4>
          <p></p>
        </div>
      </div>

      <div class="comments">
        <% mytweet.forEach((tweet) => { %>
       <!-- delet and edite buttons -->
      <div style="background-color: rgb(67, 85, 117) " >
          <a href="/myTweet/delete/<%=tweet.id%>"><img src="./images/delete.svg"  style="width: 5%;" alt="" ></a>
          <img src="./images/edit.svg" alt="icon edit" style="width: 5%;" id="edit">
      </div>
          <!-- form of edit hidden by difault -->
          <form action="/editTweet/<%=tweet.id%>" method="post" id="FormText" style="display: none;" >
            <textarea id="text" name="text" rows="4" cols="50" style="width: 100%; height: 100%;">
              </textarea>
              <input type="submit" value="Submit" id="submit" style=" background-color: white; 
              color: black; 
              border: 2px solid #008CBA; float: right;"><br><br>
            </form>
            <!-- coments -->
        <div class="comments-comment" style="background-color: aliceblue; color: black;">
          <a href="/username"><img src="./images/avatar.png" alt=""></a>
          <div class="comments-comment-content">
            <div class="comments-comment-content-nameDate">
              <a href="/username">
                <h3 class="comments-comment-content-username" style="color: rgb(67, 85, 117) ;"><%=username%></h3>
              </a>
              <span class="comments-comment-content-date"><%= tweet.creation_date %></span>
            </div>
            <p class="comments-comment-content-text"><%= tweet.text %></p><br>
          </div>
        </div>
        <div>
        </div>
       
        <%})%>
      </div>
      
    </div>

    <div class="tweet-search"></div>

  </section>
  <!-- script to show form of edite -->
  <script>
    const editForms =Array.from(document.querySelectorAll("#FormText")) 
    const edits = Array.from(document.querySelectorAll("#edit")) 
    const submits =Array.from(document.querySelectorAll("#submit"))
    edits.forEach(edit=>{
     edit.addEventListener("click",function(){
      editForms.forEach(editForm=>{
        editForm.style.display="block"
      })
     
    })
   
    })
    // 
    submits.forEach(submit=>{
      submit.addEventListener("click",function(){
        editForms.forEach(editForm=>{
        editForm.style.display="block"
      })
    })
    })
   
  </script>
</body>

</html>